@font-face {
  font-family: "mrgvlovani";
  src: url(../fonts/bpg_mrgvlovani_caps_2010.ttf);
}
* {
  font-family: "mrgvlovani";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  background-color: #f3f3f3;
}
.navbar .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}
.navbar .left-side .brand-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.navbar .left-side .brand-anchor p {
  margin: 0;
  color: #1c61aa;
  font-family: "Poppins", sans-serif !important;
}
.navbar .left-side .nav-links {
  display: flex;
  margin-left: 100px;
}
.navbar .left-side .nav-links a {
  margin-right: 35px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  transition: all 100ms ease-in-out;
}
.navbar .left-side .nav-links a:hover {
  color: #ff6600;
}
.navbar .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0 50px;
}
.navbar .right-side .socials {
  display: flex;
  gap: 30px;
}
.navbar .right-side .socials a {
  text-decoration: none;
  font-size: 25px;
}
.navbar .right-side .socials a .bi-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .right-side .socials a .bi-whatsapp {
  color: #63e6be;
}
.navbar .right-side .contact {
  display: flex;
  align-items: center;
}
.navbar .right-side .contact a {
  text-decoration: none;
}
.navbar .right-side .contact a i {
  color: #ff6600;
  font-size: 15px;
  font-weight: 700;
  background-color: rgba(255, 102, 0, 0.1);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}
.navbar .right-side .contact a i:hover {
  background-color: #ff6600;
  color: #fff;
}
.navbar .right-side .contact .inner-contact {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.navbar .right-side .contact .inner-contact p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}
.navbar .right-side .contact .inner-contact h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
}

.welcome-section {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid black;
  min-height: 90vh;
}
.welcome-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-section .container .left-side .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.welcome-section .container .left-side .text h2 {
  color: #ff6600;
  font-size: 15px;
  font-weight: 700;
  opacity: 80%;
}
.welcome-section .container .left-side .text h1 {
  color: #000;
}
.welcome-section .container .left-side .text p {
  color: #333;
}
.welcome-section .container .left-side button {
  margin-top: 20px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  background-color: #ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}
.welcome-section .container .left-side button:hover {
  background-color: #000;
}
.welcome-section .container .left-side button i {
  font-size: 23px;
}/*# sourceMappingURL=style.css.map */