@font-face {
  font-family: "mrgvlovani";
  src: url(../fonts/bpg_mrgvlovani_caps_2010.ttf);
}
* {
  font-family: "mrgvlovani";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  background-color: #f3f3f3;
  flex-wrap: wrap;
}
.navbar .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}
.navbar .left-side .brand-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.navbar .left-side .brand-anchor p {
  margin: 0;
  color: #1c61aa;
  font-family: "Poppins", sans-serif !important;
}
.navbar .left-side .nav-links.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 101px;
  right: 0px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease-in-out;
}
.navbar .left-side .nav-links.show.hide {
  animation: slideUp 0.3s ease-in-out;
}
.navbar .left-side .nav-links.show a {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.navbar .left-side .nav-links {
  display: flex;
  margin-left: 100px;
}
.navbar .left-side .nav-links:active {
  display: flex;
}
.navbar .left-side .nav-links a {
  margin-right: 35px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  transition: all 100ms ease-in-out;
}
.navbar .left-side .nav-links a:hover {
  color: #ff6600;
}
.navbar .hammenu {
  display: none;
  cursor: pointer;
  margin-right: 30px;
  background: none;
  border: none;
  padding: 0;
}
.navbar .hammenu i {
  font-size: 30px;
  color: #000;
  transition: transform 0.3 ease;
}
.navbar .hammenu:hover i {
  transform: scale(1.1);
}
.navbar .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0 50px;
}
.navbar .right-side button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #333;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}
.navbar .right-side button:hover {
  background-color: #000;
  color: #fff;
}
.navbar .right-side .socials {
  display: flex;
  gap: 30px;
}
.navbar .right-side .socials a {
  text-decoration: none;
  font-size: 25px;
}
.navbar .right-side .socials a .bi-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .right-side .socials a .bi-whatsapp {
  color: #63e6be;
}
.navbar .right-side .contact {
  display: flex;
  align-items: center;
}
.navbar .right-side .contact a {
  text-decoration: none;
}
.navbar .right-side .contact a i {
  color: #ff6600;
  font-size: 15px;
  font-weight: 700;
  background-color: rgba(255, 102, 0, 0.1);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}
.navbar .right-side .contact a i:hover {
  background-color: #ff6600;
  color: #fff;
}
.navbar .right-side .contact .inner-contact {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.navbar .right-side .contact .inner-contact p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}
.navbar .right-side .contact .inner-contact h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
}

.welcome-section {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 90vh;
  flex-wrap: wrap;
  background-image: url(.././images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 100px;
}
.welcome-section .container .left-side .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  position: relative;
  max-width: 700px;
}
.welcome-section .container .left-side .text h2 {
  color: #ff6600;
  font-size: 15px;
  font-weight: 700;
  opacity: 80%;
  width: 100%;
}
.welcome-section .container .left-side .text h1 {
  color: #000;
}
.welcome-section .container .left-side .text p {
  color: #333;
}
.welcome-section .container .left-side .text .button-container a {
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  background-color: #ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  transition: all 180ms ease-in-out;
  margin-bottom: 30px;
  text-decoration: none;
}
.welcome-section .container .left-side .text .button-container a:hover {
  background-color: #000;
}
.welcome-section .container .left-side .text .button-container a:hover i {
  transform: rotate(45deg);
}
.welcome-section .container .left-side .text .button-container a i {
  font-size: 23px;
  transition: 180ms ease-in-out;
}
.welcome-section .right-side {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-section .right-side img {
  width: 100%;
}
.welcome-section .right-side .customer-flex-second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.welcome-section .right-side .customer-flex-second .icon {
  animation: bounce2 150ms infinite alternate;
}
.welcome-section .right-side .customer-flex-second .icon i {
  font-size: 30px;
  color: #ff6600;
}
@keyframes bounce2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1px);
  }
}
.welcome-section .right-side .customer-flex-second .customer-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.welcome-section .right-side .customer-flex-second .customer-text h1 {
  font-size: 20px;
  font-weight: 600;
}
.welcome-section .right-side .customer-flex-second .customer-text a {
  color: #333;
  max-width: 250px;
}
.welcome-section .right-side .customer-flex-second .icon {
  text-decoration: none;
}
.welcome-section .right-side .customer-flex-second .icon i {
  display: flex;
  background-color: #ff6600;
  padding: 10px;
  color: #fff !important;
  border-radius: 50%;
  font-size: 15px !important;
}

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}
.about-section .container {
  display: flex;
  margin-top: 100px;
  gap: 100px;
  margin-bottom: 100px;
}
.about-section .container .img-container {
  display: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 10px;
  width: 650px;
  box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.1);
}
.about-section .container .img-container .customer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
  position: absolute;
  margin-bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.about-section .container .img-container .customer-flex .icon {
  animation: bounce 0.2s infinite alternate;
}
.about-section .container .img-container .customer-flex .icon i {
  font-size: 30px;
  color: #ff6600;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
.about-section .container .img-container .customer-flex .customer-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.about-section .container .img-container .customer-flex .customer-text h1 {
  font-size: 32px;
  font-weight: 600;
}
.about-section .container .img-container .customer-flex .customer-text p {
  color: #333;
  max-width: 250px;
}
.about-section .container .img-container img {
  width: 100%;
  position: relative;
  border-radius: 10px;
}
.about-section .container .about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.about-section .container .about-us-container .about-us-text {
  color: #ff6600;
  font-weight: 500;
}
.about-section .container .about-us-container .about-us-text .line {
  max-width: 235px;
  background-color: #ff6600;
  padding: 1px;
}
.about-section .container .about-us-container h1 {
  font-size: 40px;
  font-weight: 600;
}
.about-section .container .about-us-container h3 {
  font-size: 25px;
  font-weight: 600;
  color: #333;
}
.about-section .container .about-us-container p {
  font-size: 15px;
}
.about-section .container .about-us-container .service-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.about-section .container .about-us-container .service-container .service {
  display: flex;
  gap: 30px;
}
.about-section .container .about-us-container .service-container .service .service-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about-section .container .about-us-container .service-container .service i {
  background-color: #ff6600;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}
.about-section .container .about-us-container button {
  padding: 10px 15px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 200px;
  align-self: center;
  transition: 0.2s ease-in-out;
}
.about-section .container .about-us-container button:hover {
  background-color: #000;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}
footer h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer p {
  line-height: 1.6;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
footer ul li a:hover {
  color: #ff6600;
}
footer .bi {
  margin-right: 10px;
}
footer .row {
  margin-bottom: 30px;
}
footer .row .col-md-4 .brand-anchor {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
footer .row .col-md-4 .brand-anchor p {
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif !important;
}
footer .text-center p {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .navbar .right-side {
    display: none;
  }
  .navbar .hammenu {
    display: block;
  }
  .navbar .left-side .nav-links {
    display: none;
  }
  .welcome-section .container {
    flex-direction: column;
    text-align: center;
  }
  .welcome-section .container .left-side {
    margin-top: 50px;
  }
  .welcome-section .container .left-side .text {
    align-items: center;
  }
  .welcome-section .container .right-side {
    width: 100%;
    margin-bottom: 100px;
  }
  .welcome-section .container .right-side .customer-flex {
    display: flex !important;
  }
  .welcome-section .container .right-side img {
    display: none;
  }
  .about-section {
    margin-bottom: 50px;
  }
  .about-section .container {
    flex-direction: column;
  }
  .about-section .container .img-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about-section .container .img-container .customer-flex {
    display: none !important;
  }
  .about-section .container .about-us-container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-wrap: wrap;
  }
  .about-section .container .about-us-container .about-us-text .line {
    max-width: 100%;
  }
}
@media screen and (max-width: 568px) {
  .about-section .container .about-us-container .about-us-text {
    font-size: 18px;
  }
  .about-section .container .about-us-container h3 {
    font-size: 19px;
  }
  .about-section .container .about-us-container .service-container {
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */