@font-face {
  font-family: "mrgvlovani";
  src: url(../../fonts/bpg_mrgvlovani_caps_2010.ttf);
}

* {
  font-family: "mrgvlovani";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  background-color: #f3f3f3;
  flex-wrap: wrap;

  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;

    .brand-anchor {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      font-size: 20px;

      p {
        margin: 0;
        color: #1c61aa;
        font-family: "Poppins", sans-serif !important;
      }
    }

    .nav-links.show {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 101px;
      right: 0px;
      width: 100%;
      background-color: #fff;
      padding: 10px;
      z-index: 9999;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      animation: slideDown 0.3s ease-in-out;

      &.hide {
        animation: slideUp 0.3s ease-in-out;
      }

      a {
        margin-bottom: 20px;
        width: 100%;
        // border: 1px solid black;
        // width: 150px;
        text-align: center;
      }
    }

    @keyframes slideDown {
      0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes slideUp {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(-100%);
        opacity: 0;
      }
    }

    .nav-links {
      display: flex;
      margin-left: 100px;

      &:active {
        display: flex;
      }

      a {
        margin-right: 35px;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: 14px;
        transition: all 100ms ease-in-out;

        &:hover {
          color: #ff6600;
        }
      }
    }
  }

  .hammenu {
    display: none;
    cursor: pointer;
    margin-right: 30px;
    background: none;
    border: none;
    padding: 0;

    i {
      font-size: 30px;
      color: #000;
      transition: transform 0.3 ease;
    }

    &:hover {
      i {
        transform: scale(1.1);
      }
    }
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 50px;

    button {
      padding: 10px 15px;
      background-color: transparent;
      border: 1px solid #333;
      transition: 0.3s ease-in-out;
      font-size: 14px;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    .socials {
      display: flex;
      gap: 30px;

      a {
        text-decoration: none;
        font-size: 25px;

        .bi-instagram {
          background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .bi-whatsapp {
          color: #63e6be;
        }
      }
    }

    .contact {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;

        i {
          color: #ff6600;
          font-size: 15px;
          font-weight: 700;
          background-color: rgba(255, 102, 0, 0.1);
          width: 55px;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          transition: all 200ms ease-in-out;

          &:hover {
            background-color: #ff6600;
            color: #fff;
          }
        }
      }

      .inner-contact {
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        p {
          margin: 0;
          font-size: 13px;
          font-weight: 500;
        }
        h2 {
          margin: 0;
          font-size: 25px;
          font-weight: 800;
        }
      }
    }
  }
}

main {
  .bg-section {
    background-image: url(../../images/background-contact.png);
    background-color: #000000;
    background-position: 0 60px;
    opacity: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 45vh;

    display: flex;

    .container {
      backdrop-filter: blur(5px);
      background: #000;
      opacity: 96%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      gap: 100px;

      .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }

      h1 {
        color: #fff;
      }

      .socials {
        display: flex;
        gap: 100px;

        a {
          text-decoration: none;
          font-size: 40px;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            transition: 0.3s ease-in-out;
            border-radius: 50%;

            &:hover {
              background-color: #333;
            }
          }

          .bi-instagram {
            color: #d6249f;
          }

          .bi-whatsapp {
            color: #63e6be;
          }
        }
      }
    }
  }
}

.form-section {
  margin-top: 100px;
  // height: 100vh;
  margin-bottom: 100px;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .form {
      max-width: 600px;
      width: 100%;

      h2 {
        font-size: 19px;
        font-weight: 500;
        color: #ff6600;
      }

      h1 {
        font-size: 34px;
        font-weight: 700;
      }
      p {
        font-size: 15px;
        font-weight: 500;
        color: #333;
      }

      /* CSS for the form submission message */
      .form-submitted-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #dff0d8;
        border: 1px solid #c3e6cb;
        color: #155724;
        padding: 20px;
        margin-top: 40px;
        border-radius: 5px;
        // display: none;

        h2 {
          font-size: 24px;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
        }

        a {
          color: #ff6600;
          font-size: 16px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        button {
          padding: 10px 15px;
          background-color: #ff6600;
          color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          transition: all 300ms ease-in-out;

          &:hover {
            background-color: #333;
            color: #fff;
          }
        }

        .input-container {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;

          .input-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 20px;
            // transition: all 300ms ease-in-out;

            .messageinput {
              height: 100px;
              width: 100%;
              resize: none;
              padding: 12px;
              outline: none;
              border: 1px solid #ccc;
              transition: all 300ms ease-in-out;

              &:focus {
                border: 1px solid #000;
              }
            }

            input {
              flex: 1; // Inputs and textarea fill remaining space
              padding: 15px;
              border-radius: 5px;
              border: 1px solid #ccc;
              outline: none;
              transition: all 300ms ease-in-out;

              &:focus {
                border: 1px solid #000;

                &::placeholder {
                  transform: translateY(-5px);
                }
              }

              &::placeholder {
                font-size: 13px;
                font-weight: 400;
                color: #333;
                opacity: 0.8;
                transition: all 300ms ease-in-out;
              }
            }

            .input-column {
              display: flex;
              flex: 1; // Inputs in column layout fill available space
            }
          }
        }
      }
    }
    .contacts-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      border-radius: 8px;
      // box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.1);
      background-color: transparent;

      h3 {
        font-size: 19px;
        font-weight: 700;
        color: #000;
      }

      p {
        font-size: 15px;
        font-weight: 500;
        color: #333;
      }

      i {
        font-size: 25px;
        color: #ff6600;
      }

      .contact-item {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: start;
        // border: 1px solid black;
        width: 100%;

        * {
          text-decoration: none;
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h3 {
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    line-height: 1.6;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          color: #ff6600;
        }
      }
    }
  }

  .bi {
    margin-right: 10px;
  }

  .row {
    margin-bottom: 30px;

    .col-md-4 {
      .brand-anchor {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: 20px;

        p {
          margin: 0;
          color: #fff;
          font-family: "Poppins", sans-serif !important;
        }
      }
    }
  }

  .text-center {
    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .right-side {
      display: none;
    }
    .hammenu {
      display: block;
    }
    .left-side {
      .nav-links {
        display: none;
      }
    }
  }

  .form-section {
    .container {
      flex-direction: column;

      .form {
        max-width: 100%;
        text-align: center;

        h2 {
          font-size: 14px;
        }

        h1 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }

        button {
          font-size: 14px;
        }

        form {
          .input-container {
            .input-row {
              // flex-direction: column;

              input {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .contacts-container {
    margin-top: 100px;

    .contact-item {
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Footer Styles
